ADF/pipeline/PL_SendEmailNotification_Generic.json
{
	"name": "PL_SendEmailNotification_Generic",
	"properties": {
		"activities": [
			{
				"name": "Get EmailNotification Message Content",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat('[adfconfig].[',pipeline().parameters.MessageContentSP,']')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"RunId": {
								"value": {
									"value": "@pipeline().parameters.ParentPipelineRunId",
									"type": "Expression"
								}
							},
							"Pipeline_Name": {
								"value": {
									"value": "@pipeline().parameters.ParentPipelineName",
									"type": "Expression"
								}
							},
							"DataFactory_name": {
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"TargetSchema": "[adfconfig]",
							"TargetTable": {
								"value": "@pipeline().parameters.MessageContentSP",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Call Logic App Workflow - Send Email Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get EmailNotification Message Content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://icaswf-logicapp.azurewebsites.net:443/api/SendNotificationEmail/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cGF0jwxwklE9E3cs5hArjHQpyGhd-RzPNsxDwQVicSg",
					"method": "POST",
					"body": {
						"value": "{\n\"EmailTo\":\"@{pipeline().parameters.NotificationMailAddressList}\",\n\"Subject\":\"@{pipeline().parameters.MessageSubject}\",\n\"PipelineName\": \"@{pipeline().parameters.ParentPipelineName}<br>\",\n\"Result\":\"@{if(equals(pipeline().parameters.ParentPipelineStatus,'Success'),'<span style=\\\"color:green\\\">Success</span><br>','<span style=\\\"color:red\\\">Failed</span><br>')}\",\n\"Message\": \"@{string(replace(string(activity('Get EMailNotification Message Content').output.value[0].HTMLOutput_Message),'\"',''''))}\",\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"NotificationMailAddressList": {
				"type": "string",
				"defaultValue": "abhijeet.bijoor@kpmg.co.uk"
			},
			"ParentPipelineName": {
				"type": "string",
				"defaultValue": "PL_FileValidation_Event"
			},
			"ParentPipelineStatus": {
				"type": "string",
				"defaultValue": "Success"
			},
			"MessageContentSP": {
				"type": "string",
				"defaultValue": "EMailNotification_PLClientDataFileValidation"
			},
			"MessageSubject": {
				"type": "string",
				"defaultValue": "Procedure Caller Summary"
			},
			"ParentPipelineRunId": {
				"type": "string",
				"defaultValue": "08dadfc2-1d2d-45bc-92ac-59d942fc6eb3"
			}
		},
		"folder": {
			"name": "Pipeline Set 5: PL Email Notifications"
		},
		"annotations": []
	}
}